<!DOCTYPE html>
<html lang="">
  <head>
    <title>NYPL | Lists</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <% for (var i=0; i < metatags.length; i++) {%>
     <%- metatags[i] %>
    <% } %>

    <link rel="shortcut icon" type="image/ico" href="http://ux-static.nypl.org/images/favicon.ico">
    
<% if (isProduction) { %>
    <!-- Minified Styles -->
    <link rel="stylesheet" type="text/css" href="dist/styles.css">
<% } else { %>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/styles.css">
<% } %>
  </head>
  <body>
    <div id="app"><%- App %></div>
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript">
    var appEnv = "<%- appEnv %>";
    var widget = "<%- widget %>";
    var apiUrl = "<%- apiUrl %>";
  </script>

<% if (isProduction) { %>
  <script async src="dist/bundle.js"></script>
<% } else { %>
  <script src="http://localhost:3000/bundle.js"></script>
<% } %>

</html>